<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">-->
<link rel="stylesheet" href="./style.css">

</head>
<body>
	
	<main class="container">
		<section class="about">
			<br>
			<br><br>
			<br>
			<img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}">
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline">New York | Chicago | Shanghai</p>
			<ul class="social" style="margin-top: 15px;">
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
				<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
			</ul>

			<a href="https://danielzzhou.github.io/nu-cmu/"><button class="running-button">
				<span class="default">Start</span>
				<span class="active">Tracking</span>
				<div class="running">
					<div class="outer">
						<div class="body">
							<div class="arm behind"></div>
							<div class="arm front"></div>
							<div class="leg behind"></div>
							<div class="leg front"></div>
						</div>
					</div>
				</div>
			</button></a>
			
			<!--<a href="https://danielzzhou.github.io/nu-cmu/"><button class="button" style="margin: 15px;">enter blog</button></a>-->

			<br>
			<br>
			<!--<p>&copy; 2018</p>-->


		</section>

	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script  src="./script.js"></script>

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
